.hero-img {
  position: relative;
}

/* HERO LAYOUT 8 */
.hero-layout8 a.ls-gui-element.ls-nav-prev,
.hero-layout8 a.ls-gui-element.ls-nav-next {
  margin-top: calc(var(--arrow-size) - 180px);
}

/* Approx md */
@media (max-width: 991px) {
  .hero-layout8 {
    margin-bottom: 30px;
  }
}

/* HERO RIPPLE */
.hero-ripple {
  position: absolute;
  left: 43%;
  top: 15%;
  z-index: -1;
  width: var(--shape-size, 573px);
  height: var(--shape-size, 573px);
  margin-left: calc(var(--shape-size, 573px) / -2);
  border-radius: 50%;
  background-color: rgba(254, 254, 254, 0.8);
}

.hero-ripple::before,
.hero-ripple::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  transition: all ease 0.4s;
  background-color: rgba(254, 254, 254, 1);
}

.hero-ripple::after {
  animation-delay: 2s;
}

/* HERO LAYOUT 1 */
.hero-layout1 {
  overflow: hidden;
  position: relative;
}

.hero-layout1 .hero-mask {
  background-color: #fdece2;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.hero-layout1 [class*="hero-shape"] {
  position: absolute;
  z-index: 1;
}

.hero-layout1 .hero-shape-1 { top: 14%; right: 42%; }
.hero-layout1 .hero-shape-2 { top: 13%; right: 10%; }
.hero-layout1 .hero-shape-3 { top: 29%; right: 0%; }

.hero-layout1 .hero-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.hero-layout1 .hero-content {
  text-align: center;
  position: relative;
}

.hero-layout1 .hero-subtitle {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.22em;
  color: /* replace */ #000;
  line-height: 1;
  display: block;
  margin: -0.1em 0 13px 0;
}

.hero-layout1 .hero-title {
  font-size: 100px;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding: 0 70px;
  line-height: 1;
  color: #313c45;
}

.hero-layout1 .hero-img {
  flex: 1;
  padding-top: 50px;
  position: relative;
}

.hero-layout1 .hero-flower {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* HERO LAYOUT 2 */
.hero-layout2 {
  background-image: linear-gradient(to top, #fcf2ee 40%, transparent 100%);
  position: relative;
  overflow: hidden;
}

.hero-layout2 .hero-inner {
  position: relative;
  z-index: 1;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.hero-layout2 .hero-img {
  text-align: center;
  padding-top: 135px;
  margin-right: 50px;
  flex: 1;
}

.hero-layout2 .hero-content {
  padding: 120px 0 90px;
  position: relative;
  z-index: 1;
}

.hero-layout2 .hero-flower {
  position: absolute;
  left: 50%;
  top: 1%;
  transform: translateX(-50%);
  z-index: -1;
}

.hero-layout2 [class*="hero-shape"] {
  position: absolute;
  z-index: 1;
}

.hero-layout2 .hero-shape-1 { bottom: 12%; left: 4%; }
.hero-layout2 .hero-shape-2 { right: 43%; top: 9%; }
.hero-layout2 .hero-shape-3 { right: 2%; top: 17%; }
.hero-layout2 .hero-shape-4 { top: 37%; left: 46%; }

.hero-layout2 .hero-shape-5 {
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 1031px;
  background-color: #fde7da;
}

/* HERO LAYOUT 3 */
.hero-layout3 .slick-arrow {
  --pos-x: 120px;
  background-color: /* replace */ #000;
  color: #fff;
}

.hero-layout3 .slick-arrow:hover {
  color: /* replace */ #000;
  background-color: #fff;
}

/* BOX ARROW */
.ls-box-arrow {
  box-shadow: 0px 8px 16px rgba(154, 86, 58, 0.5);
}

.ls-box-arrow::before {
  content: "";
  position: absolute;
  top: 0;
  left: -18px;
  width: 18px;
  height: 18px;
  border: 10px solid;
  border-color: /* replace */ #000 /* replace */ #000 transparent transparent;
}

/* MEDIA QUERIES */
@media (max-width: 1024px) {
  .ls-layer .vs-btn.style9 {
    padding: 5px 5px 5px 15px;
    font-size: 14px;
  }

  .ls-layer .vs-btn.style9 i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }

  .ls-layer a.vs-btn.style12 {
    padding: 14px 22px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .ls-layer .vs-btn.style9 {
    padding: 12px 15px;
  }

  .ls-layer .vs-btn.style9 i {
    background: transparent;
    color: /* replace */ #000;
    margin-left: 7px;
  }

  .ls-layer a.vs-btn.style12 {
    padding: 10px 13px;
    font-size: 12px;
  }
}
